<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="AnyDownloader - Download media files from Facebook, YouTube, Instagram, and more. Download photos, videos, and reels from public and private accounts. Download internet images, videos, and media files from various websites. One-click download for profiles, private accounts, and more.">
    <meta name="keywords" content="AnyDownloader, media downloader, Facebook downloader, YouTube downloader, Instagram downloader, download videos, download photos, social media downloader, internet media downloader">
    <meta name="Naman Thapliyal" content="Naman Thapliyal">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="AnyDownloader - Media Downloader Utility">
    <meta property="og:description" content="Download media files from Facebook, YouTube, Instagram, and more. Download photos, videos, and reels from public and private accounts. Download internet images, videos, and media files from various websites. One-click download for profiles, private accounts, and more.">
    <meta property="og:image" content="URL_TO_YOUR_LOGO_OR_FEATURED_IMAGE">
    <meta property="og:url" content="URL_TO_YOUR_WEBSITE">
    <meta property="og:type" content="website">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AnyDownloader - Media Downloader Utility">
    <meta name="twitter:description" content="Download media files from Facebook, YouTube, Instagram, and more. Download photos, videos, and reels from public and private accounts. Download internet images, videos, and media files from various websites. One-click download for profiles, private accounts, and more.">
    <meta name="twitter:image" content="URL_TO_YOUR_LOGO_OR_FEATURED_IMAGE">
    
    <title>AnyDownloader {% block title %} {% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">AnyDownloader</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/insta">Instagram</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/utube">Youtube</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/facebook">Facebook</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/internet">Internet</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    {% block body %}
    {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>